* {
  overflow-x: hidden;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #ffff;
  color: #000;
  font-size: 16px;
  line-height: 1.5;
}
a {
  color: #262626;
  text-decoration: none;
}
ul {
  list-style: none;
}
.container {
  width: 90%;
  max-width: 5000px;
  margin: auto;
}

/* nav Style */
.nav {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 20px 0;
  font-size: 13;
}
.nav .logo {
  width: 110px;
}
.nav ul {
  display: flex;
}

.nav ul li {
  padding: 0 10px;
}
.nav ul li a {
  padding-bottom: 2px;
}
.nav ul li a:hover {
  border-bottom: 2px solid #262626;
}
.nav ul.menu {
  flex: 1;
  margin-left: 40px;
}
.btn {
  display: inline-block;
  border: 0;
  font-weight: bold;
  padding: 10px 20px;
  background: #262626;
  color: #ffff;
  font-size: 16px;
}
.btn:hover {
  opacity: 0.8;
}

/* banner 1 */
.banner1 {
  margin-top: 10px;
  width: 100%;
  height: 500px;
  background: url(image/slide1.png) no-repeat center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-end;
  padding-bottom: 50px;
  margin-bottom: 20px;
}
.banner1 h2,
.banner1 p {
  margin-bottom: 10px;
}
.banner1 .btn {
  margin-top: 18px;
}

/* card 1 */
.card1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 30px;
}
.card1 img {
  width: 100%;
  margin-bottom: 20px;
}
.card1 h3 {
  margin-bottom: 5px;
}
.card1 a {
  display: inline-block;
  padding-top: 10px;
  color: #0067b8;
  text-transform: uppercase;
  font-weight: bold;
}
.card1 img:hover {
  opacity: 0.8;
}

/* banner 2 */
.banner2 {
  width: 100%;
  height: 450px;
  background: url(image/xbox.png) no-repeat center/cover;
  margin: 20px 0 20px 0;
}
.banner2 .content {
  width: 40%;
  padding: 50px 0 0 30px;
}
.banner2 p {
  margin: 15px 0 20px;
}
.banner2:hover {
  opacity: 0.8;
}

/* card 2 */
.card2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 30px;
}
.card2 img {
  width: 100%;
  margin-bottom: 20px;
}
.card2 h3 {
  margin-bottom: 5px;
}
.card2 a {
  display: inline-block;
  padding-top: 10px;
  color: #0067b8;
  text-transform: uppercase;
  font-weight: bold;
}
.card2 img:hover {
  opacity: 0.8;
}

/* banner3 */
.banner3 {
  width: 100%;
  height: 300px;
  background: url(image/carbon.jpg) no-repeat center/cover;
  margin: 20px 0 20px 0;
}
.banner3 .content {
  width: 55%;
  padding: 100px 0 0 30px;
}
.banner3 h2 {
  color: white;
  margin-top: 12px;
}
.banner3 a {
  background-color: white;
  color: #555;
  margin-top: 18px;
}
.banner3 .content {
  color: aliceblue;
}

/* follow */
.follow {
  display: flex;
  align-items: center;
  justify-self: flex-start;
  margin: 30px 0 30px;
}
.follow a {
  margin-left: 10px;
  margin-right: 10px;
}
/* link */
.link {
  background: #f2f2f2;
  color: #616161;
  font-size: 12px;
  padding: 35px 0;
}
.link-inner {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
}
.link li {
  line-height: 2.8;
}

.link {
  border-bottom: #000 2.5px solid;
}

/* footer */
.footer {
  background: #f2f2f2;
  color: #616161;
  font-size: 12px;
  padding: 20px 0;
}
.footer-inner {
  max-width: 5000px;
  margin: 0 auto;
  padding: 0 20px 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer div {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.footer div i {
  margin-right: 10px;
}
.footer ul,
li {
  display: flex;
  flex-wrap: wrap;
  margin-right: 30px;
  margin-bottom: 20px;
}

/* responsive */

@media (max-width: 700px) {
  .nav ul.menu {
    display: block;
    position: absolute;
    top: 0;
    left: -50px;

    background: #f2f2f2;
    width: 50%;
    height: 50%;
    border-right: 3px solid #ccc;
    opacity: 0.91;
    padding: 20px;
  }
  .nav ul.menu li {
    border-bottom: 3px solid #ccc;
    opacity: 0.91;
    padding: 20px;
  }

  .card1 {
    grid-template-columns: repeat(2, 1fr);
  }
  .card2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .banner2 .content p {
    display: none;
  }
  .banner2 .content h2 {
    padding-bottom: 30px;
  }
  .banner3 .content{
    width: 75%;
  }
  .link .link-inner{
    grid-template-columns: repeat(2,1fr);
  }
}
@media (max-width: 500px) {
       .card1{
        grid-template-columns: 1fr;
       }
       .link .link-inner{
        grid-template-columns: 1fr;
      }
      .banner3 .content p{
        display: none;
      }
    }
  
