@font-face {
  font-family: "Samim-FD";
  src: url("fonts/Samim-FD.woff") format("woff");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Samim-FD", sans-serif;
}
.container {
  background: linear-gradient(RGBA(13, 70, 83, 0.78), RGBA(13, 70, 83, 0.78)),
    url(img/bg-banner.jpg);
  width: 100%;
  height: 640px;
}
/* nav-bar */
.nav-bar ul li {
  display: inline-block;
  text-decoration: none;
  padding-left: 15px;
  color: aliceblue;
  font-size: 16px;
  font-weight: 300;
  margin-top: 30px;
  position: relative;
  right: 150px;
}
.nav-bar {
  position: fixed;
  background: RGBA(13, 70, 83, 0.78);
  width: 100%;
  height: 65px;
  z-index: 1000;
}
.logo {
  position: relative;
  float: left;
  width: 120px;
  margin-left: 120px;
  margin-top: 20px;
}

/* header */
.header {
  text-align: center;
  padding-top: 150px;
}
.header img {
  width: 100px;
}
.header h1 {
  font-size: 36px;
  color: aliceblue;
  padding: 15px 0 15px 0;
}
.header p {
  font-size: 16px;
  color: aliceblue;
  padding: 0px 0 15px 0;
}
.header a {
  text-decoration: none;
  color: aliceblue;
  padding: 10px 20px;
  border-radius: 7px;
  font-size: 12px;
  margin-bottom: 50px;
  background-color: rgba(12, 184, 182, 0.9);
}
/* service */
.service {
  display: grid;
  grid-template-columns: repeat(3, 345px);
  grid-template-rows: repeat(3, 233px);
}
.item {
  position: relative;
  right: 260px;
  top: 280px;
  padding: 80px 10px 10px 10px;
  font-size: 15px;
  /* text-align: center; */
}
.item img {
  width: 50px;
  padding-bottom: 20px;
}
.item p {
  color: rgb(65, 64, 62);
  font-size: 13px;
  font-weight: 600;
  line-height: 20px;
}
.item h4 {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 20px;
}
.item3 h4 {
  font-size: 30px;
}
hr {
  height: 3px;
  width: 70px;
  background: #ffb737;
  position: relative;
  border: 0;
  margin: 2px 0 20px 0;
}

/* table */
table,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
td {
  color: wheat;
  border: 0px solid whitesmoke;
  border-top: 1px solid rgba(216, 216, 216, 0.6);
  padding: 2px 50px 2px 45px;
}
.table {
  display: grid;
  grid-template-columns: repeat(3, 395px);
  grid-template-rows: repeat(3, 253px);
  gap: 4px;
  margin-top: 170px;
  margin-right: 130px;
}
.itemtable {
  position: relative;
  right: 140px;
  background-color: #0cb8b6;
  padding: 0px 10px 10px 10px;
  font-size: 16px;
  text-align: right;
}
.itemtable h4 {
  color: white;
  text-align: right;
  padding: 30px 0px 10px 10px;
  font-size: 25px;
}
.itemtable a {
  text-decoration: none;
  color: white;
  border: 3px solid white;
  padding: 5px;
  position: absolute;
  right: 15px;
  bottom: 20px;
  font-size: 13px;
}
.itemtable p {
  color: white;
  font-size: 14px;
}

/* text box */
.textbox {
  display: grid;
  grid-template-columns: repeat(2, 600px);
  gap: 40px;
  position: relative;
  bottom: 300px;
  margin-right: 40px;
}
.itemtextbox p {
  color: black;
  width: 80%;
}
.itemtextbox li {
  list-style-type: none;
  float: left;
  font-weight: 900;
  width: 35px;
  height: 35px;
  padding: 5px;
  background: #0cb8b6;
  border-radius: 55%;
  color: aliceblue;
  text-align: center;
  position: relative;
  bottom: 25px;
  left: 6px;
}
.itemtextbox h3 {
  font-size: 25px;
}

/* about */
.about {
  position: relative;
  bottom: 200px;
}
.about h1 {
  position: relative;
  margin-right: 250px;
}
.about hr {
  position: relative;
  margin-right: 250px;
}
.doctor {
  display: flex;
  justify-content: space-around;
  width: 1300px;
  position: relative;
  right: 220px;
}
.image {
  border: 2px solid gainsboro;
  width: 262px;
  height: 400px;
}
.dr {
  width: 250px;
  padding: 5px;
}
.image li {
  list-style-type: none;
  display: inline;
  padding-left: 8px;
  padding-right: 25px;
}
.image h2 {
  padding: 10px;
}
.image li,
img {
  width: 20px;
}
.image p {
  font-size: 19px;
  padding: 11px;
}

/* coment */
.coments {
  background-color: rgb(196, 195, 195);
  padding-bottom: 40px;
}
.box-coment {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  width: 1200px;
}
.details {
  width: 360px;
  position: relative;
  right: 200px;
}
.details p {
  color: gray;
}
.text {
  height: 130px;
  background: white;
  padding: 10px 20px;
  margin-bottom: 20px;
  box-shadow: 3px 3px 3px 0 RGBA(0, 0, 0 0.17);
}
.user {
  float: left;
  width: 50px;
  position: relative;
  bottom: 50px;
}
.mo {
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid white;
  position: relative;
  bottom: 20px;
  right: 300px;
}
.coments hr {
  position: relative;
  margin-right: 250px;
}
.coments h1 {
  position: relative;
  margin-right: 250px;
}
/* description */
.description {
  background-color: rgb(41, 48, 46);
}
.box-description {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 1000px;
  position: relative;
  right: 400px;
  padding: 40px;
}
.box-description h1 {
  font-size: 29px;
  color: #fff;
}
.box-description p {
  width: 380px;
  font-size: 14px;
  color: #fff;
}

/* call */
.call h2 , .call hr{
  margin-top: 20px;
  position: relative;
  margin-right: 250px;
  

}
.box-call {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  width: 1300px;
  position: relative;
  right: 300px;
  gap: 92px;
}
.box-call {
 font-size:26px ;
 padding: 10px 0 35px 0;
}
.form input{
  width: 750px;
  height: 42px;
  margin-bottom: 20px;
  font-size: 15px;
  padding: 7px;
  
}
.form textarea{
  resize: none;
  margin-bottom:25px ;
}
.form a{
 background-color: #0cb8b6;
 color: #fff;
 padding: 8px 16px;
 text-decoration: none;
 
}
.call-info p{
   color: #131111;
   font-size: 17px;
   padding-bottom: 40px;
}
.call-icon ul{
margin-top: 50px;
}
.call-icon li{
  list-style-type: none;
  padding-bottom: 20px;
  }

  /* footer */
  .footer{
    background: #325c6a;
    margin-top: 20px;
    
  }
  .box-footer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 1200px;
    margin-right: 200px;
  }
  .box-footer h4{
    color: #fff;
    font-size: 20px;
    padding: 30px 0px 0px 15px;
    
  }
  .footer-icon li{
    
    list-style-type: none;
    display: inline;
    color: #fff;
    background: #f85307;
    padding: 15px;
    position: relative;
    top: 20px;
  }
  .footer-links li{
      list-style-type: none;
      padding: 4px;
  }
  .footer-links a{
   text-decoration: none;
   color: #fff;
}
.footer-about p{
  width: 400px;
   color: #fff;
   font-size: 17px;
}
.copy hr{
 margin:20px 0 0 20px ;
 width: 100%;
 height: 1px;
 background: #e6e5e5;
}
.copy p{
  text-align: center;
  padding: 20px;
  color: #fff;
}


